################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SGBL/FileContentIndex/61f4f5b7-6cf9-4078-966b-9c1694db6dc3.vsidx
/.vs/ProjectEvaluation/sgbl.metadata.v7.bin
/.vs/ProjectEvaluation/sgbl.projects.v7.bin
/.vs/SGBL/FileContentIndex/4c643452-a514-4386-b435-0e195b23b9e6.vsidx
/.vs/SGBL/FileContentIndex/622a4242-3db8-46d5-89d3-8aa97096678f.vsidx
/.vs/SGBL/FileContentIndex/531fa33e-1d86-4a37-8ec1-9081d6f5c403.vsidx
/.vs/SGBL/FileContentIndex/86b167d4-50f9-44e8-adb3-5f379142b6bb.vsidx
